<template name="playersIndex">
  <h2>{{params.skillname}} hiscores</h2>

  <div class="row">
    <div class="col-md-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Level</th>
            <th>Experience</th>
          </tr>
        </thead>
        <tbody>
          {{#each players}}
            <tr>
              {{#with skill params.skillname}}
                <td>{{formatNumber rank}}</td>
                <td><a href="{{pathFor route='players.single' data=..}}">{{../username}}</a></td>
                <td>{{formatNumber level}}</td>
                <td>{{formatNumber xp}}</td>
              {{/with}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-md-2">
      <h3>Skills</h3>
      <ul class="list-unstyled">
        {{#each skills 'free'}}
          <li><a href="{{pathFor route='players.index' skillname=this}}">{{this}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>

</template>