<template name="playersSingle">
  <h2>{{player.username}}</h2>
  <small class="text-muted">{{player._id}}</small>

  <p>
    <a href="{{pathFor route='players.index'}}">Back to hiscores</a>
  </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Skill</th>
        <th>Rank</th>
        <th>Level</th>
        <th>Experience</th>
      </tr>
    </thead>
    <tbody>
      {{#with player}}
        {{#each freeHiscores}}
          <tr>
            <td>{{name}}</td>
            <td>{{formatNumber rank}}</td>
            <td>{{formatNumber level}}</td>
            <td>{{formatNumber xp}}</td>
          </tr>
        {{/each}}
      {{/with}}
    </tbody>
  </table>

</template>