<template name="playersSingle">
  {{#with player}}
    <h2>{{username}}</h2>
    <small class="text-muted">{{_id}}</small>

    <p>
      {{#unless session 'updatePlayerError'}}
        <button class="update-player btn pull-right">Update now</button>
      {{else}}
        <button class="update-player btn btn-danger pull-right" disabled>Something went wrong</button>
      {{/unless}}

      <a href="{{pathFor route='players.index'}}">Back to hiscores</a>
    </p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Skill</th>
          <th>Rank</th>
          <th>Level</th>
          <th>Experience</th>
        </tr>
      </thead>
      <tbody>
        {{#each freeHiscores}}
          <tr>
            <td>{{name}}</td>
            <td>{{formatNumber rank}}</td>
            <td>{{formatNumber level}}</td>
            <td>{{formatNumber xp}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/with}}
</template>